* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100vw;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  height: 60px;

  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.navbar ul li {
  list-style: none;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.4s;
}
.navbar ul li:hover {
  color: rgb(0, 149, 255);
}
.navbar ul li:nth-child(10) {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding-left: 15px;
  padding-right: 15px;
}
